.list-group-item-danger {
    color: #a94442;
    background-color: #f2dede;
}

.list-group-item-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.list-group-item-info {
    color: #31708f;
    background-color: #d9edf7;
}

.list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
}